<!doctype <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- header ================================================== -->
    <header id="main-header">
        <div class="row">

            <!-- navbar ================================================== -->
            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
                    <span class="menu-icon">Menu</span>
                </a>
                <a class="mobile-btn" href="#" title="Hide navigation">
                    <span class="menu-icon">Menu</span>
                </a>

                <ul id="nav" class="nav">
                    <li><a class="smoothscroll" href="/signup">Signup.</a></li>
                    <li class="current"><a class="smoothscroll" href="/signin">Signin.</a></li>
                    <li><a class="smoothscroll" href="/dashboard">Dashboard.</a></li>
                    <li><a class="smoothscroll" href="/searchgame">Searchgame.</a></li>
                    <li><a class="smoothscroll" href="/postGame">Postgame.</a></li>
                    <li><a class="smoothscroll" href="/logout">Logout.</a></li>
                </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

        </div>

    </header> <!-- end header -->


    <!-- postGame Homepage hero
   ================================================== -->
    <section id="hero">

        <div class="row hero-content">

            <div class="twelve columns hero-container">

                <!-- hero-slider start-->

                <div id="hero-slider" class="">

                    <ul class="">

                        <!-- slide -->
                        <li>
                            <div class="flex-caption">
                                <h1 class="titleone p-5 h-100 position-relative z-index-2 overflow-auto  py-3 animated bounceInLeft">Game On <span class="gametitle">{{user.firstname}}!</span> You are Logged In.
                                </h1>
                            </div>
                        </li>
                    </ul>

                    <!-- postGame Picture -->
                    <aside id="fh5co-hero" class="js-fullheight video">
                        <div> <img src="https://www.pcgamesn.com/wp-content/uploads/2018/08/Fallout-76-system-requirements-900x507.png"
                                style="height:100%; width:100%;" class ="p-5 h-100 position-relative z-index-2 overflow-auto  py-3 animated flipInX"></div>
                        {{!-- End Picture --}}

                </div> <!-- end twelve columns-->
            </div> <!-- end row -->
    </section> <!-- end homepage hero -->


    <!-- Results Section
   ================================================== -->

    <div id="hero-slider" class="flexslider">

        <ul class="">

            <!-- slide -->
            <li>
                <div class="flex-caption">
                    <h1 class="titleone">Dashboard <span class="gametitle">Results</span> .
                    </h1>
                </div>
            </li>
        </ul>
    </div>



  {{!-- Dashboard --}}
  
  <div id="games">
  </div>


  <div id="user-games">
    {{title}}
    {{gsPriceSell}}
  </div>

    <div id="user-games">
		
		<table id="user-games">
		<tr>
			<td>Game Title</td>
			<td>Game System</td>
			<td>Game Stop Trade</td>
			<td>Game Stop Sell</td>
			<td>Suggest Seller Price</td>

		</tr>
		{{#each dbGames}}
		<tr>
		<td>{{title}}</td>
		<td>{{console}}</td>
		<td>{{gsPriceBuy}}</td>
		<td>{{gsPriceSell}}</td>
		<td>{{userSellPrice}}</td>
		</tr>
		{{/each}}
		</table>
    </div>

  </div>

  <script>

    let queryURL = "/api/games";
    console.log(queryURL);
    $.ajax({
      url: queryURL,
      method: "GET"
    }).then(function (data) {
      console.log(data);
    });

  </script>

</body>

</html>