<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <h2>Dashboard</h2>

    <h5>Game On {{user.firstname}}! You are Logged In.</h5>
<div id="games">

</div>


    <div id="user-games">
		
		<table id="user-games">
		<tr>
			<td>Game Title</td>
			<td>Game System</td>
			<td>Game Stop Trade</td>
			<td>Game Stop Sell</td>
			<td>Suggest Seller Price</td>

		</tr>
		{{#each dbGames}}
		<tr>
		<td>{{title}}</td>
		<td>{{console}}</td>
		<td>{{gsPriceBuy}}</td>
		<td>{{gsPriceSell}}</td>
		<td>{{userSellPrice}}</td>
		</tr>
		{{/each}}
		</table>
    </div>

    <div id="games from other users">

    </div>
    
<script>
    
	  let queryURL = "/api/games";
    console.log(queryURL);
    $.ajax({ 
      url: queryURL, 
      method: "GET" 
    }).then(function(data) {
		console.log(data);
	});

  </script>



   
</body>
</html>
    



